{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "Test",
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "var/log/infection/infection-log.txt"
    },
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/symfony/phpunit-bridge/bin/simple-phpunit"
    }
}
