<phpunit bootstrap="vendor/autoload.php">
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/data/win_and_donic.sqlite" />
    </php>
    <testsuites>
        <testsuite name="Project Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Project Functional Tests">
            <directory>tests/functional</directory>
        </testsuite>
        <testsuite name="Project Integration Tests">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
